<div id="main-div">
  <ul>
    <p>Etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet, consectetur adipiscing elit duis tristique sollicitudin nibh sit amet! Erat velit, scelerisque in dictum non, consectetur a.</p>
  </ul>
  <ul>
    <p>Malesuada pellentesque elit eget gravida cum? Tellus molestie nunc, non blandit massa enim nec dui nunc mattis enim ut tellus elementum sagittis vitae et leo duis ut diam quam nulla.</p>
  </ul>
  <ul>
    <p>Sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque. Nam aliquam sem et tortor consequat id porta nibh venenatis cras sed felis eget velit aliquet sagittis!</p>
  </ul>
  <div class="icons-list">
    <i nz-icon [type]="'home'"></i>
    <!-- Loading with new API would spin automatically! -->
    <i nz-icon [type]="'loading'"></i>
  </div>
</div>
